/*
 * Copyright (c) 2019 Creative Product Design
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>
/ {
    chosen {
	   zephyr,console = &usb_cdc;
	   zephyr,shell-uart = &usb_cdc;
	   zephyr,display = &st7789v;
	};

    buttons {
        compatible = "gpio-keys";
        button0: button_A {
            gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button A";
        };
        button1: button_B {
            gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button B";
        };
        button2: button_X {
            gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button X";
        };
        button3: button_Y {
            gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button Y";
        };
    };

    pwm_leds {
        compatible = "pwm-leds";
        status = "okay";
        pwm_led1: pwm_led_1 {
	    pwms = <&pwm 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>; /* Pico Display Pack backlight */
        };

        display_blk: pwm_led_0 {
	    pwms = <&pwm 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>; /* Pico Display Pack backlight */
        };

        red_pwm_led: red_pwm_led {
	    pwms = <&pwm 6 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
        };
        green_pwm_led: green_pwm_led {
	    pwms = <&pwm 7 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
        };
        blue_pwm_led: blue_pwm_led {
	    pwms = <&pwm 8 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
        };
    };

    aliases {
        display-blk = &display_blk;
        sw0 = &button0;
        sw1 = &button1;
        sw2 = &button2;
        sw3 = &button3;
        sw-top-right = &button2;
        sw-top-left = &button0;
        sw-bottom-right = &button3;
        sw-bottom-left = &button1;
        pwm-led1 = &pwm_led1;
	red-pwm-led = &red_pwm_led;
	green-pwm-led = &green_pwm_led;
	blue-pwm-led = &blue_pwm_led;
    };
};

&pinctrl {
	pwm_default: pwm_default {
		group1 {
			pinmux = <PWM_4B_P25>, <PWM_2A_P20>, <PWM_3A_P6>, <PWM_3B_P7>, <PWM_4A_P8>;
			drive-strength = <2>;
			slew-rate = <1>;
			bias-pull-up;
		};
	};
};

&spi0 {
	status = "okay";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";

	/* Pico Display Pack */
	st7789v: st7789v@0 {
		compatible = "sitronix,st7789v";
		reg = <0>;
		spi-max-frequency = <48000000>; /* 48MHz */
		cmd-data-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;	/* DET */
		/* reset-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>; */	/* RESX reset */
		width = <320>;
		height = <240>;
		x-offset = <0>;
		y-offset = <0>;
		vcom = <0x1f>;   /* VCOMS Setting: 0.875V */
		gctrl = <0x35>;  /* VGH: 13.26V VGL: -10.43V */
		vrhs = <0x12>;
		vdvs = <0x20>;
		mdac = <0x70>;  /* Rotate 270 */
		gamma = <0x03>;
		colmod = <0x05>; /* 16 bit/pixel */
		lcm = <0x2c>;
		porch-param = [0c 0c 00 33 33];
		cmd2en-param = [5a 69 02 01];
		pwctrl1-param = [a4 a1];
		pvgam-param = [D0 08 11 08 0C 15 39 33 50 36 13 14 29 2D];
		nvgam-param = [D0 08 10 08 06 06 39 44 51 0B 16 14 2F 31];
		ram-param = [00 F0];
		rgb-param = [CD 08 14];

	};
};

&zephyr_udc0 {
	usb_cdc: usb_cdc_0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&pwm_led0 {
	status = "okay";
};

&pwm_led1 {
	status = "okay";
};

&pwm {

	pinctrl-0 = <&pwm_default>;
	pinctrl-names = "default";
	status = "okay";

	divider-frac-2 = <15>;
	divider-int-2 = <255>;

	divider-frac-3 = <15>;
	divider-int-3 = <255>;

	divider-frac-4 = <15>;
	divider-int-4 = <255>;
};
