name: GenFirmware

on:
  workflow_dispatch:
    inputs:
      zephyr_tag:
        description: "Zephyr Tag"
        required: true
        default: "v4.0.0"
        type: string
      version:
        description: "Release Version"
        required: true
        default: "1.0"
        type: string
      text:
        description: "Release Text"
        required: true
        default: "This is my release text"
        type: string
      prerelease:
        description: "Release as Prerelease"
        required: true
        default: true
        type: boolean

jobs:
  build:
    permissions:
      contents: write  # for actions/upload-release-asset to upload release asset
    runs-on: macos-latest
    strategy:
      matrix:
        gcc: ['13.2.Rel1']
        # gcc: ['10-2020-q4', 'latest']
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install GNU Arm Embedded Toolchain - ${{ matrix.gcc }}
        uses: carlosperate/arm-none-eabi-gcc-action@v1.8.2
        with:
          release: ${{ matrix.gcc }}
          path-env-var: ARM_NONE_EABI_GCC_PATH
      - name: The path will be exported to that environmental variable name
        run: echo "The output path is $ARM_NONE_EABI_GCC_PATH"
      - name: Create Firmware Package
        run: |
          echo "Building Firmware"
          echo "VERSION=${{ inputs.version }}" >> $GITHUB_ENV
          brew install ninja ccache dtc
          pip install west
          west init --mr "${{ inputs.zephyr_tag }}" zephyrproject
          cd zephyrproject
          west update
          cd ..
          pip install -r zephyrproject/zephyr/scripts/requirements.txt

          arm_none_eabi_gcc_path=${ARM_NONE_EABI_GCC_PATH%/*}
          export ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb
          export GNUARMEMB_TOOLCHAIN_PATH="$arm_none_eabi_gcc_path"

          source zephyrproject/zephyr/zephyr-env.sh
          west build -b rpi_pico -d build_lcd1 -- -DCONFIG_PICO_DISPLAY_PACK=y
          west build -b rpi_pico -d build_lcd2 -- -DCONFIG_PICO_DISPLAY_PACK2=y
	  west build -b rpi_pico2/rp2350a/m33 -d build_lcd3 -- -DCONFIG_PICO2_DISPLAY_PACK=y
	  west build -b rpi_pico2/rp2350a/m33 -d build_lcd4 -- -DCONFIG_PICO2_DISPLAY_PACK2=y
      - name: Delete existing release and tag
        id: delete-tag-release
        uses: dev-drprasad/delete-tag-and-release@v1.1
        with:
          tag_name: "${{ env.VERSION }}"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          delete_release: true
        continue-on-error: true
      - name: Upload Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: "${{ env.VERSION }}"
          release_name: "Release ${{ env.VERSION }}"
          body: ${{ inputs.text }}
          file: build_lcd1/zephyr/zephyr.uf2
          asset_name: zephyr_pico_display_pack.uf2
          overwrite: true
      - name: Upload Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: "${{ env.VERSION }}"
          release_name: "Release ${{ env.VERSION }}"
          body: ${{ inputs.text }}
          file: build_lcd2/zephyr/zephyr.uf2
          asset_name: zephyr_pico_display_pack2.uf2
          overwrite: true
      - name: Upload Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: "${{ env.VERSION }}"
          release_name: "Release ${{ env.VERSION }}"
          body: ${{ inputs.text }}
          file: build_lcd3/zephyr/zephyr.uf2
          asset_name: zephyr_pico2_display_pack.uf2
          overwrite: true
      - name: Upload Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: "${{ env.VERSION }}"
          release_name: "Release ${{ env.VERSION }}"
          body: ${{ inputs.text }}
          file: build_lcd4/zephyr/zephyr.uf2
          asset_name: zephyr_pico2_display_pack2.uf2
          overwrite: true
